body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  overflow-x: hidden;
}

.landingWrapper {
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

body {
  background-color: #FAFAFA;
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-width: bold;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 26px;
}

.mainSection.center nav>a{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 46px;
  text-decoration: underline;
  font-weight: lighter;
}

figure>a,
.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}


.mainSection section {
  position: absolute;
  top: 191px;
  width: 580px;
}

.mainSection.left {
  /*background-color: #FBFFFE;*/
}

.mainSection.right,
.mainSection.center {
  /*background-color: #839797;*/
  color: white;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  left: 799px;
}

.mainSection.center section {
  text-align: center;
  top: 191px;
  width: 100%;
}

.mainSection.center footer p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.mainSection section>figure {
  height: 4px;
  width: 31px;
  margin-top: 60px;
  background-color: #50e3c2;
}

.mockup {
  position: absolute;
  background-size: cover;
}

div>.mockup {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup1 {
  top: 0px;
  right: 160px;
  width: 531px;
  height: 628px;
  margin-top: 232px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection.right>section.mockupRaw {
  height: 165px;
  width: 345px;
  margin-left: -640px;
  margin-top: -81px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#mockup1-2 {
  width: 141px;
  height: 318px;
  background-image: url(../images/about.png);

}

.mockup.R1 {
  width: 141px;
  height: 318px;

  order: 1;
  flex: 0 1 auto;
  align-self: auto;
}

#mockup2 {
  width: 141px;
  height: 398px;
  background-image: url(../images/works.png);
}

.mockup.R2 {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
}

#mockup3 {
  width: 142px;
  height: 477px;
  background-image: url(../images/work.png);
}

.mockup.R3 {
  order: 3;
  flex: 0 1 auto;
  align-self: auto;
}

#mockup4 {
  height: 428px;
  width: 806px;
  left: 623px;
  top: 319px;
  background-image: url(../images/screens.png);
}

@media screen and (max-width: 1180px) {
  body.landing.bg {
    background-image: url(../images/mockups/1180FirstBreakpoint.png);
  }

  .mainSection {
    width: 1180px;
    height: 800px;
  }

  .mainSection h2 {
    font-size: 42px;
    line-height: 56px;
    font-weight: bold;
  }

  .mainSection p {
    margin-top: 23px;
    font-size: 21px;
    line-height: 36px;
  }

  .mainSection.center h2 {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 26px;
  }

  .mainSection.center p {
    margin-top: 21px;
 }

  .mainSection.left section {
    left: 30px;
  }

  .mainSection.right section {
    left: 671px;
  }

  .mainSection.center section {
    top: 193px;
  }

  .button {
    margin-left: 440px;
  }

  #mockup1 {
    right: 29px;
  }

  #mockup4 {
    height: 403px;
    width: 682px;
    left: 511px;
    top: 343px;
  }
}



@media screen and (max-width: 840px) {
  body.landing.bg {
    background-image: url(../images/mockups/840SecondBreakpoint.png);
  }

  .mainSection {
    width: 840px;
    height: 568px;
  }

  .mainSection section {
    top: 138px;
  }

  .mainSection h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection section>figure {
    width: 23px;
    margin-top: 41px;
  }

  .mainSection p {
    margin-top: -9px;
    font-size: 16px;
    line-height: 26px;
  }

  .mainSection.center h2 {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 20px;
  }

  .mainSection.center p {
    margin-top: 20px;
  }

  .mainSection.center nav>a {
    font-size: 13px;
    line-height: 36px;
  }

  .mainSection.center footer p {
    font-size: 13px;
    line-height: 0px;
  }

  .mainSection.left section {
    left: 22px;
  }

  .mainSection.right section {
    left: 475px;
  }

  .mainSection.center section {
    top: 139px;
  }

  .button {
    margin-left: 313px;
    width: 214px;
    height: 36px;
    margin-top: 41px;
    line-height: 40px;
  }

  figure>a {
    font-size: 14px;
  }

  #mockup1 {
    right: 22px;
    top: -65px;
    width: 377px;
    height: 400px;
  }

  #mockup4 {
    height: 286px;
    width: 473px;
    left: 364px;
    top: 243px;
  }

  .mockupRaw>div {
    height: 2%;
    margin-left: 187px;
  }

  #mockup1-2 {
    width: 100px;
    height: 227px;
  }

  #mockup2 {
    width: 100px;
    height: 283px;
    margin-left: -62px;
  }

  #mockup3 {
    width: 100px;
    height: 339px;
    margin-left: -128px;
  }

}
