
.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 44px;
  font-width: bold;
  line-height: 56px;
  margin-bottom: 26px;
}

.mainSection.center nav>a{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 46px;
  text-decoration: underline;
  font-weight: lighter;
}

figure>a,
.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}


.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
}

.mainSection section {
  position: absolute;
  top: 191px;
  width: 580px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  left: 799px;
}

.mainSection.center section {
  text-align: center;
  top: 191px;
  width: 100%;
}

.mainSection section>figure {
  height: 4px;
  width: 31px;
  margin-top: 60px;
  background-color: #50e3c2;
}

.mockup {
  position: absolute;
  background-size: cover;
}

div>.mockup {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

.mainSection.left {
  background-color: #FBFFFE;
}

.mainSection.right,
.mainSection.center {
  background-color: #839797;
  color: white;
}

#mockup1 {
  top: 0px;
  right: 160px;
  width: 531px;
  height: 628px;
  margin-top: 232px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection.right>section.mockupRaw {
  height: 165px;
  width: 345px;
  margin-left: -640px;
  margin-top: -81px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#mockup1-2 {
  width: 141px;
  height: 318px;
  background-image: url(../images/about.png);

}

#mockup2 {
  width: 141px;
  height: 398px;
  background-image: url(../images/works.png);
}

#mockup3 {
  width: 142px;
  height: 477px;
  background-image: url(../images/work.png);
}

#mockup4 {
  height: 428px;
  width: 806px;
  left: 623px;
  top: 319px;
  background-image: url(../images/screens.png);
}

@media screen and (max-width: 1179px) {
  body.landing.bg {
    background-image: url(../images/mockups/1180FirstBreakpoint.png);
  }

  .mainSection {
    width: 1180px;
    height: 560px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
  }

  .mainSection.center h2 {
    line-height: 39px;
    margin-bottom: 18px;
  }

  .mainSection.center p {
    margin-top: 21px;
 }

  .mainSection.left section {
    left: 187px;
    top: 137px;
  }

  .mainSection.right section {
    left: 641px;
  }

  .mainSection.center section {
    top: 162px;
  }

  #mockup1 {
    right: 197px;
    width: 375px;
    height: 647px;
    margin-top: 167px;
  }

  #mockup1-2 {
    width: 100px;
    height: 227px;
  }

  #mockup2 {
    width: 99px;
    height: 283px;
  }

  #mockup3 {
    width: 99px;
    height: 339px;
  }

  #mockup4 {
    height: 295px;
    width: 556px;
    left: 516px;
    top: 258px;
  }

  .mainSection.right>section.mockupRaw {
    width: 276px;
    margin-left: -482px;
    margin-top: -128px;
  }

  .mainSection section>figure {
    height: 4px;
    width: 21px;
    margin-top: 41px;
  }

  figure {
    height: 0px;
    width: 23px;
  }
}



@media screen and (max-width: 839px) {
  body.landing.bg {
    background-image: url(../images/mockups/840SecondBreakpoint.png);
  }

  .mainSection {
    width: 839px;
    height: 1024px;
  }

  .mainSection section {
    top: 138px;
  }

  .mainSection h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 27px;
  }

  .mainSection section>figure {
    width: 23px;
    margin-top: 41px;
  }

  .mainSection p {
    margin-top: -9px;
    font-size: 16px;
    line-height: 26px;
  }

  .mainSection.center h2 {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 20px;
  }

  .mainSection.center p {
    margin-top: 20px;
  }

  .mainSection.center nav>a {
    font-size: 13px;
    line-height: 36px;
  }

  .mainSection.center footer p {
    font-size: 13px;
    line-height: 0px;
  }

  .mainSection.left section {
    left: 150px;
  }

  .mainSection.right section {
    left: 347px;
  }

  .mainSection.center section {
    top: 189px;
    width: 100%;
  }

  #mockup1 {
    right: 150px;
    top: 314px;
    width: 539px;
    height: 545px;
  }

  #mockup4 {
    height: 406px;
    width: 743px;
    left: 156px;
    top: 503px;
  }

  .mockupRaw>div {
    height: 2%;
    margin-left: 187px;
  }

  #mockup1-2 {
    width: 141px;
    height: 318px;
  }

  #mockup2 {
    width: 141px;
    height: 397px;
    margin-left: -62px;
  }

  #mockup3 {
    width: 140px;
    height: 478px;
    margin-left: -128px;
  }

  .mainSection.right>section.mockupRaw {
    width: 660px;
    margin-left: -361px;
    margin-top: 237px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 { background-image: url(../images//about@2x.jpg) }
  #mockup1-2 { background-image: url(../images/about@2x.jpg) }
  #mockup2 { background-image: url(../images/works@2x.jpg) }
  #mockup3 { background-image: url(../images/work@2x.jpg) }
  #mockup4 { background-image: url(../images/screens@2x.jpg) }
}
