.menubar div {
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 87px;
  height: 26px;
  margin-top: -3px;
  background-image: url(../images/logo.svg);
}

.menubar {
  background-color: white;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.button {
  height: 49px;
  width: 299px;
  margin-left: 570px;
  margin-top: 59px;
  background-color: #00FFE5;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  color: black;
  font-weight: bold;
  line-height: 53px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  padding-bottom: 19px;
  text-align: center;
  line-height: 47px;
}

.mainSection.center footer p {
  font-size: 16px;
}
